@model IEnumerable<LocaKey.Core.ViweModel.AboutVM>

@{
    ViewData["Title"] = "Index";
}
@if (Model.Any())
{
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    الاعدادات
                    <small>ادارة الاعدادات</small>
                </h3>
            </div>
            <div class="card-toolbar">
                <a asp-action="Create" class="btn btn-success showcreate" data-toggle="modal">
                    <i class="flaticon2-cube"></i>اضافة
                </a>
            </div>
        </div>
        <div class="card-body">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descriptionAr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descriptionEn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descriptionFr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.logo)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descriptionAr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descriptionEn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descriptionFr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                <img src="~/Images/@item.logo" width="150" />
                            </td>



                            <td>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" type="submit" class="btn btn-warning editDetails" data-id="@item.Id" data-toggle="modal">
                                    <i class="flaticon flaticon-edit"></i>
                                    تعديل
                                </a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" type="submit" class="btn btn-danger deletemodal" data-id="@item.Id" data-toggle="modal">
                                    <i class="flaticon flaticon-delete"></i>
                                    حذف
                                </a>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>

    </div>

}
else
{
    <div class="card-toolbar">
        <a asp-action="Create" class="btn btn-success showcreate" data-toggle="modal">
            <i class="flaticon2-cube"></i> اضافة
        </a>
    </div>
    <hr />
    <hr />

    <div class="alert alert-warning">

        No Data !!
    </div>

}
