@model IEnumerable<LocaKey.Core.ViweModel.UserVM>

@{
    ViewData["Title"] = "Index";
}

@if (Model.Any())
{
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    الحسابات
                    <small>ادارة الحسبات</small>
                </h3>
            </div>
            <div class="card-toolbar">
                <a asp-action="Register" class="btn btn-sm btn-success font-weight-bold">
                    <i class="flaticon2-cube"></i>انشاء حساب
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.fullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @item.fullName
                            </th>
                            <th>
                                @item.Email
                            </th>
                            <th>
                                @item.Phone
                            </th>
                            @*     <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                    <i class="flaticon flaticon-edit"></i>
                    تعديل
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="flaticon flaticon-delete"></i>
                    حذف
                    </a>
                    </td>
                    *@
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card-toolbar">
        <a asp-action="Register" class="btn btn-sm btn-success font-weight-bold">
            <i class="flaticon2-cube"></i> انشاء حساب
        </a>
    </div>
    <hr />
    <hr />

    <div class="alert alert-warning">

        No Data !!
    </div>

}
